.main-article {
  background-image: url('../../../assets/mainGrocery.png');
  background-size: cover;
  height: 1070px;
  background-repeat: no-repeat;
}

.head-text {
  font-style: normal;
  font-weight: 700;
  font-size: 45px;
  line-height: 68px;
  color: #0d1136;
}

.text {
  font-style: normal;
  font-weight: 400;
  font-size: 19px;
  line-height: 23px;
  color: #77798c;
}
